.js-card {
}

.use-text-tape {
  position: relative;
}

.status-reed {
  display: none;
  position: absolute;
  width: 64px;
  height: 19px;
  left: 301px;
  top: 16px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #00b912;
}

.job-text {
  position: absolute;
  width: 96px;
  top: 44px;
  height: 24px;
  padding-top: 4px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
}

.status-favorite {
  position: absolute;
  right: 12px;
  top: 220px;
  max-width: 170px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  // text-align: center;
  color: #111321;
  background: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 6px 32px 6px 12px;
  cursor: pointer;
}

// .add-status {
//   display: none;
// }

.add-status::after {
  content: '';
  width: 14px;
  height: 12px;
  background: url(../images/heart-empty.svg) no-repeat center center;
  background-size: cover;
  display: block;
  position: absolute;
  top: 8px;
  right: 14px;
}

.remove-status {
  display: none;
  width: 168px;
}

.remove-status::after {
  content: '';
  width: 14px;
  height: 12px;
  background: url(../images/heart-full.svg) no-repeat center center;
  background-size: cover;
  display: block;
  position: absolute;
  top: 8px;
  right: 14px;
}

.card-img-wrapper {
  height: 262px;
  min-height: 262px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
}

.page-url {
  width: 353px;
  height: 132px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}

.abstract-text {
  width: 353px;
  height: 66px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 20px;
}

.published-date {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #a8a8a8;
  margin-right: 205px;
}

.read-more {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #4440f7;
}

.dark-theme {
  .page-url,
  .abstract-text {
    color: var(--text-color-dark-theme);
  }
}
