@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.4;
  background-color: var(--background-color-light);
}
