.footer {
    margin-top: 20px;
    height: 120px;
    width: 100%;
    background-color: #7A7A7A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 500;
    @include tablet {
        height: 146px;
    }
    div {
        text-align: center;
    }
    a {
        color: blue;
        text-decoration: underline;
    }
    .footer-image{
        background: url(../images/ukraine-flag-heart.png) no-repeat center center;
        display: inline-block;
        width: 30px;
        height: 20px;
        margin: 0 10px;
    }
}

.dark-theme {
    .footer {
        color: #ffffff;
    }
}