.header {
    height: 81px;
    margin-top: 24px;
    border-bottom: 1px solid var(--headerborder);
    width: 100%;

}

.container--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
}

.logo-site {
    margin-right: auto;
    color: var(--text-color);
    font-style: normal;
    font-family: var(--main-font);
    line-height: 1.33;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;

    @include tablet {
        font-size: 32px;
        margin-right: 48px;
    }
        
    @include desktop {
        font-size: 42px;
        margin-right: 102px;
        line-height: 1.36;
    }
}

.navigation-list {
    padding-top: 20px;
    gap: 44px;
    display: none;

    @include tablet {
        display: flex;
        align-items: center;
    }
    @include desktop {
        gap: 69px;
    }
}

.navigation-list__link {
    position: relative;
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.38;

    @include desktop {
        font-size: 18px;
        line-height: 1.25;
    }

}
.dark-theme {
    .navigation-list__link{
        color: var(--text-color-dark-theme);
    }

    .logo__name {
        color: var(--text-color-dark-theme);
    }

    .header {
        border-bottom: 1px solid rgba(244, 244, 244, 0.2);
}
}

.navigation-list__link--current::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-active-btn);
    transform: translateY(1px);
    display: block;  
    border: none;
}

.header-search-form {
position: relative;
display: flex;
align-items: center;
left: 36px;
}

.search-form_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    @include tablet {
        margin-right: 24px;
        margin-left: 32px;
    }

    @include desktop {
        margin-right: 137px;
        margin-left: 147px;
    }
}

.search-btn {
    background: none;
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;

    appearance: 0;
    padding: 0;
    margin: 0;

    @include tablet {
        position: absolute;
        left: 12px;
    }
}

.search__form--input {
    padding: 5px 20px 5px 48 px;
    border: 1px solid var(--text-color);
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    box-sizing: border-box;
    width: 173px;
    border-radius: 20px;
    margin-right: 48px;
    padding-left: 30px;

    color: var(--text-color);

    &:focus-within {
        outline: 0;
        outline-offset: 0;
    }

    @include tablet {
        width: 213px;
        display: block;
    }

    @include desktop {
        width: 287px;
    }
}

.search-icon-btn {
    position: absolute;
    top: 60%;
    left: 12px;
    transform: translateY(-50%);
}

// THEME

body.light-theme {
background-color: var(--text-color-dark-theme);

--light-bg: #f4f4f4;
--label-light: #4b48db;
--label-dark: #5f6775;
--icon-sun: #4b48db;
--icon-moon: #5f6775;
}

body.dark-theme {
background: var(--darktheme);

--black--bg: #2e2e2e;
--label-light: #f4f4f4;
--label-dark: #4440f7;
--icon-sun: #5f6775;
--icon-moon: #4b48db;
}

.theme {
    top: 49px;
    gap: 8px;
    align-items: center;
    right: 0px;
    display: none;

    @include tablet {
        display: flex;
    }
    
    @include desktop {
        gap: 12px;
    }
}

.theme__track {
    display: inline-block;
    position: relative;

    height: 20px;
    width: 40px;
}

.theme__marker {
    position: absolute;
    display: flex;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--text-color-dark-theme);
    border: 0.6 solid var(--markercolor);
    border-radius: 20px;
    cursor: pointer;
}

.theme__marker::before {
    content: ' ';
    position: absolute;
    cursor: pointer;

    
    border-radius: 50%;
    background-color: var(--markercolor);

    height: 16px;
    width: 16px;
    left: 1px;
}

.theme-switch__toggle:focus ~ .theme__marker,
.theme-switch__toggle:hover ~ .theme__marker {
    box-shadow: 1px 2px 9px var(--markercolor);
}

.theme-switch__toggle:checked ~ .theme__marker,
.theme-switch__toggle:checked ~ .theme__marker {
    box-shadow: 1px 2px 9px var(--text-color-dark-theme);
}

.theme-switch__toggle:checked ~ .theme__marker {
    background-color: var(--color-active-btn);
    border: 1px solid var(--color-btn-white);

    border-radius: 20px;

    &::before {
        background-color: var(--color-btn-white);
    }
}

.theme-switch__toggle:checked ~ .theme__marker::before {
    transform: translateX(20px);
}

.theme-change {
    display: flex;

    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;

    line-height: 1.33;
}

.theme-change {
    &-mobile {
        display: flex;

        &.light {
            stroke: var(--icon-sun);
            stroke-width: 1.5px;
            fill: var(--light-bg);
            border-radius: 50%;

            @include desktop {
                display: none;
            }
        }
    
            &.dark {
            stroke: var(--icon-moon);
            stroke-width: 1.5px;
            fill: var(--black--bg);
    
            @include desktop {
                display: none;
            }
        }
        }

            display: flex;
        &.light {
            color: var(--label-light);
            display: none;
    
        @include desktop {
            display: block;
        }
    }

        &.dark {
        color: var(--label-dark);
        display: none;

        @include desktop {
            display: block;
        }
    }
}


// stroke="#4b48db" style="stroke: var(--color1, #4b48db)"