.not-found-container {
  width: 100%;
  text-align: center;
}

.not-found-title {
  @include font(700, 20, 27px, 0);
  padding: 20px;

  @include tablet {
    @include font(700, 40, 55px, 0);
  }
}

.not-found-img {
  background: url(../images/not-found-mobile.png) no-repeat center center;
  background-size: cover;
  width: 248px;
  height: 198px;
  margin: 0 auto;

  @include tablet {
    background: url(../images/not-found-tablet.png) no-repeat center center;
    width: 560px;
    height: 444px;
  }

  @include desktop {
    background: url(../images/not-found-desktop.png) no-repeat center center;
    width: 601px;
    height: 468px;
  }
}

.is-display-none {
  display: none;
}
