.card-picture {
  width: 395px;
  margin-top: 40px;
  margin-left: 16px;
  margin-right: 32px;
}

.have-read {
  position: absolute;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #00b912;
  margin-left: 300;
  margin-top: 15px;
  cursor: pointer;
}

.job-searching {
  position: absolute;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #ffffff;
  margin-left: 0;
  margin-top: 40px;
  background: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
}

.add-favorite {
  position: absolute;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #111321;
  background: #ffffff;
  border-radius: 20px;
  border: none;
  padding: 6px 12px;
  margin-top: 355px;
  margin-left: 257;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.news-img {
  // margin-bottom: 20px;
}

.news-under-text {
  margin-top: 455px;
  width: 353px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #111321;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}

.card-text {
  margin-top: 20px;
  width: 353px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #111321;
  margin-bottom: 20px;
}
.text-under {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #111321;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}

.year-month-day {
  width: 85px;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: right;
  color: #a8a8a8;
  margin-right: 205px;
  cursor: pointer;
}

.read-more {
  width: 79px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #4440f7;
  cursor: pointer;
}

.heart-icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}
