.read-container {
  min-height: calc(100vh - 272px);
  @include mobile {
    min-height: calc(100vh - 245px);
  }
  @include tablet {
    min-height: calc(100vh - 272px);
  }
  @include desktop {
    min-height: calc(100vh - 272px);
  }

  .news-container {
    justify-content: start;
  }
}

.accordion {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 20px 0px 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-bottom: 1px solid #0003;
}

.active {
  .accordion-date {
    &:after {
      transform: rotate(180deg);
      -webkit-transform: rotate(180);
    }
  }
}
.panel {
  padding-top: 40px;
  display: none;
  background-color: #f4f4f4;
  overflow: hidden;
}

.accordion-date {
  width: 120px;
  display: inline-block;
  &:after {
    content: '';
    width: 15px;
    height: 9px;
    background: url(../images/accordion-arrow.svg) no-repeat center center;
    transition-duration: 0.5s;
    transition-property: transform;
    float: right;
    display: inline-block;
    padding-top: 17px;
  }
}

.dark-theme {
  .accordion {
    color: var(--text-color-dark-theme);
    background-color: #2e2e2e;
    border-bottom: 1px solid #f4f4f433;
  }
  .panel {
    background-color: #2e2e2e;
  }
}
