// .container {
//   width: 100%;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 0 16px;

//   @include mobile {
//     max-width: 320px;
//   }

//   @include tablet {
//     max-width: 768px;
//   }

//   @include desktop {
//     max-width: 1280px;
//   }
// }
.main-container {

  max-width: 320px;
  margin: 0 auto;

  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    max-width: 768px;
  }

  @media screen and (min-width:1280px) {
    padding-top: 60px;
    max-width: 1280px;

  }
}