    <!-- Секція календаря + категорії -->
    <div class="filters-section">
      <div class="filters-section-categories">
      <!-- Тут будуть фільтри по категоріям -->
        <button type="button">Business</button>
      </div>
      <div class="filters-section-calendar">
        <span class="filters-section-calendar-text">Search date news</span>
        <div class="filters-section-calendar-wrapper">
        <input
        type="text"
        id="datetime-picker"
        class="filters-section-calendar-wrapper-date"
        />
        </div>
      </div>
    </div>

  <!-- Секція карточок з новинами -->
  <ul class="news-container">
    <li class="news-item">
      <div class="overlay"></div>
      <!-- Cюди Олександр вкладе карточку, яку зробив -->
    </li>
    <li class="news-item">
      <div class="overlay"></div>
      <!-- Cюди Олександр вкладе карточку, яку зробив -->
    </li>
    <li class="weather__card news-item">

    </li>
    <li class="news-item">
      <div class="overlay"></div>
      <!-- Cюди Олександр вкладе карточку, яку зробив -->
    </li>
    <li class="news-item">
      <div class="overlay"></div>
      <!-- Cюди Олександр вкладе карточку, яку зробив -->
    </li>
    <li class="news-item">
      <div class="overlay"></div>
      <!-- Cюди Олександр вкладе карточку, яку зробив -->
    </li>
    <li class="news-item">
      <div class="overlay"></div>
      <!-- Cюди Олександр вкладе карточку, яку зробив -->
    </li>
    <li class="news-item">
      <div class="overlay"></div>
      <!-- Cюди Олександр вкладе карточку, яку зробив -->
    </li>
    <li class="news-item">
      <div class="overlay"></div>
      <!-- Cюди Олександр вкладе карточку, яку зробив -->
    </li>
  </ul>