<!-- Секція календаря + категорії -->
<div class="filters-section">
  <div class="filters-section-categories">
    <!-- Тут будуть фільтри по категоріям -->
    <button type="button">Business</button>
  </div>
  <div class="filters-section-calendar">
    <span class="filters-section-calendar-text">Search date news</span>
    <div class="filters-section-calendar-wrapper">
      <input
        type="text"
        id="datetime-picker"
        class="filters-section-calendar-wrapper-date"
      />
    </div>
  </div>
</div>
