<!-- Секція календаря + категорії -->
<div class="filters-section container">
  <div class="filters-section-categories js-categories">
      
    </button>
    <!-- Тут будуть фільтри по категоріям -->
  </div>
  <div class="filters-section-calendar">
    <span class="filters-section-calendar-text"
      >Search&nbsp;date&nbsp;news</span
    >
    <div class="filters-section-calendar-wrapper">
      <input
        type="text"
        id="datetime-picker"
        class="filters-section-calendar-wrapper-date"
      />
    </div>
  </div>
</div>

<!-- Секція карточок з новинами -->
<ul class="news-container js-container-card container">
  <li class="weather__card news-item"></li>
</ul>

<!-- тимчасово додаю розмітку для пагинатора щоб прописати стилі, потім буде додаватися динамично через js  -->
<div class="pagination container">
  <ul class="pagination__list js-pagination">
  </ul>
</div>
