<div class="menu-container js-menu-container is-hidden">
  <div class="menu-top">
    <div class="menu-top-container">
      <p>News</p>
      <button class="menu__close-tbn js-close-menu" type="button">
        <svg
          class="mobile__menu-icon"
          width="18"
          height="18"
          stroke="currentColor"
          fill="currentColor"
        >
          <use href="/src/images/icons.svg#icon-x"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mobile__menu">
    <div class="mobile__menu-list">
      <a class="mobile__menu-item" id="home" href="./index.html">
        <div class="mobile__menu-icon-container">
          <svg
            class="mobile__menu-icon"
            width="18"
            height="18"
            stroke="#f4f4f4"
            fill="#4440f6"
          >
            <use href="/src/images/icons.svg#icon-home"></use>
          </svg>
        </div>
        <p class="mobile__menu-link">Home</p>
      </a>
      <a class="mobile__menu-item" id="favorite" href="./favorite.html">
        <div class="mobile__menu-icon-container">
          <svg
            class="mobile__menu-icon"
            width="18"
            height="18"
            stroke="#f4f4f4"
            fill="#4440f6"
          >
            <use href="/src/images/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <p class="mobile__menu-link">Favorite</p>
      </a>
      <a class="mobile__menu-item" id="read" href="./read.html">
        <div class="mobile__menu-icon-container">
          <svg
            class="mobile__menu-icon"
            width="18"
            height="18"
            stroke="#f4f4f4"
            fill="#4440f6"
          >
            <use href="/src/images/icons.svg#icon-book-open"></use>
          </svg>
        </div>
        <p class="mobile__menu-link">Read</p>
      </a>
    </div>
  </div>
  <div class="menu-bottom">
    <!-- сюда надо вставить переключатель темы -->
  </div>
</div>
