<div class="menu-container js-menu-container is-hidden">
  <div class="menu-top">
    <div class="menu-top-container">
      <div class="container">
        <p>News</p>
        <button class="menu__close-tbn js-close-menu" type="button">
          <svg
            class="mobile__menu-icon"
            width="24"
            height="24"
            stroke="currentColor"
            fill="currentColor"
          >
            <use href="/src/images/icons.svg#icon-x"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="mobile__menu">
    <div class="mobile__menu-list">
      <a class="mobile__menu-item" id="home" href="./index.html">
        <div class="container">
          <div class="mobile__menu-icon-container">
            <svg
              class="mobile__menu-icon"
              width="18"
              height="18"
              stroke="#f4f4f4"
              fill="#4440f6"
            >
              <use href="/src/images/icons.svg#icon-home"></use>
            </svg>
          </div>
          <p class="mobile__menu-link">Home</p>
        </div>
      </a>
      <a class="mobile__menu-item" id="favorite" href="./favorite.html">
        <div class="container">
          <div class="mobile__menu-icon-container">
            <svg
              class="mobile__menu-icon"
              width="18"
              height="18"
              stroke="#f4f4f4"
              fill="#4440f6"
            >
              <use href="/src/images/icons.svg#icon-heart"></use>
            </svg>
          </div>
          <p class="mobile__menu-link">Favorite</p>
        </div>
      </a>
      <a class="mobile__menu-item" id="read" href="./read.html">
        <div class="container">
          <div class="mobile__menu-icon-container">
            <svg
              class="mobile__menu-icon"
              width="18"
              height="18"
              stroke="#f4f4f4"
              fill="#4440f6"
            >
              <use href="/src/images/icons.svg#icon-book-open"></use>
            </svg>
          </div>
          <p class="mobile__menu-link">Read</p>
        </div>
      </a>
    </div>
  </div>
  <div class="menu-bottom">
    <!-- вставив перемикач теми додавши до класів --mob-menu текст -->
    <div class="container">
      <div class="header__theme-switcher-con--mob-menu">
        <div class="theme--mob-menu">
          <div class="light theme-change light-theme--mob-menu">Light</div>
          <div class="light theme-change-mobile light-theme-mobile--mob-menu">
            <svg class="icon-switch-sun--mob-menu" width="21" height="21">
              <use href="/src/images/icons.svg#icon-sun"></use>
            </svg>
          </div>
          <div class="theme-switch__wrap--mob-menu">
            <label
              aria-hidden="true"
              class="theme__track--mob-menu"
              for="theme-switch-toggle"
            >
              <input
                class="theme-switch__toggle--mob-menu main-theme-switch__toggle--mob-menu"
                type="checkbox"
                name="theme"
                id="theme-switch-toggle2"
                aria-label="switch theme"
              />
              <span aria-hidden="true" class="theme__marker--mob-menu"></span>
            </label>
          </div>
          <div class="dark theme-change dark-theme--mob-menu">Dark</div>
          <div class="dark theme-change-mobile dark-theme-mobile--mob-menu">
            <svg class="icon-switch-moon--mob-menu" width="21" height="21">
              <use href="/src/images/icons.svg#icon-moon"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
