<div class="menu-container js-menu-container">
        <div class="mobile__menu-wraper">
        <a class="logo__name" href="./index.html">News</a>
        </div> 

        <!-- <button class="mobile-btn js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="mobile-btn__icon" width="24" height="24">
            <use href="/src/images/icons.svg#icon-menu"></use>
            </svg>
        </button> -->

        <!-- <input id="toggle" type="checkbox"></input>

        <label for="toggle" class="hamburger">
        <div class="top-bun"></div>
        <div class="meat"></div>
        <div class="bottom-bun"></div>
        </label>  -->

        <div class="mobile__menu">
            <ul class="mobile__menu-list">
                <li class="mobile__menu-item">
                <svg class="mobile__menu-icon" width="32" height="32" stroke="#f4f4f4">
                    <use href="/src/images/icons.svg#icon-home"></use>
                </svg>
                <a class="mobile__menu-link" id="home" href="./index.html">Home</a>
                <svg class="mobile__menu-icon__arrow" width="32" height="32">
                    <use href="/src/images/icons.svg#icon-chevron-right"></use>
                </svg>
                </li>
                <li class="mobile__menu-item">
                <svg class="mobile__menu-icon" width="32" height="32" stroke="#f4f4f4">
                    <use href="/src/images/icons.svg#icon-heart"></use>
                </svg>
                <a class="mobile__menu-link" id="favorite" href="./favorite.html"
                    >Favorite</a
                >
                <svg class="mobile__menu-icon__arrow" width="32" height="32">
                    <use href="/src/images/icons.svg#icon-chevron-right"></use>
                </svg>
                </li>
                <li class="mobile__menu-item">
                <svg class="mobile__menu-icon" width="32" height="32" stroke="#f4f4f4">
                    <use href="/src/images/icons.svg#icon-book-open"></use>
                </svg>
                <a class="mobile__menu-link" id="read" href="./read.html">Read</a>
                <svg class="mobile__menu-icon__arrow" width="32" height="32">
                    <use href="/src/images/icons.svg#icon-chevron-right"></use>
                </svg>
                </li> 
            </ul>  

            <!-- <button class="menu__close-tbn js-close-menu" type="button">
                <svg class="mobile-btn__icon" width="24" height="24" aria-label="Перемикач мобільного меню">
                <use href="/src/images/icons.svg#icon-x"></use>
                </svg>
            </button> -->  -->

        </div>
    </div>



<!-- <input id="toggle" type="checkbox"></input>

<label for="toggle" class="hamburger">
<div class="top-bun"></div>
<div class="meat"></div>
<div class="bottom-bun"></div>
</label>

<div class="nav">
  <div class="nav-wrapper">
    <nav>
      <a href="#">HOME</a><br>
      <a href="#">ABOUT</a><br>
      <a href="#">WORK</a><br>
      <a href="#">SERVICES</a>
    </nav>
  </div>
</div> -->




